<% if(comment) { %>
    <div style="width: 50%">
        <hr>
        <p>
            <%= comment.body %>
        </p>
        <small class="card-subtitle mb-2 text-muted">
            sent by <%= comment.User.email %> on <%= comment.createdAt %>
        </small>

        <% if(currentUser && currentUser.id === commend.userId || currentUser.isAdmin()) { %>
            <form 
                    action="/topics/<%= post.topicId %>/posts/<%= post.id %>/comments/<%= commend.id %>/destroy" 
                    style="display:intial"
                    method="POST">
                <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
            </form>
        <% } %>
        <hr>
    </div>
<% } %>